:root {
    --text-color-main: #212121;
    --text-color-second: #757575;
    --style-color: #2196f3;
    --bg-color: #ffffff;
    --button-bg-color: #F5F4FA;
    --head-foot-background: #2F303A;
}
body {
    background-color:var(--bg-color);
    font-family: 'Roboto', sans-serif;
    }
a { 
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 
a:hover, a:focus {
    color: var(--style-color);
}
.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}
.first-logo-part {
    color:var(--style-color);
}
.second-logo-part-header {
 color: var(--text-color-main);
}
.second-logo-part-footer {
    color: var(--bg-color);
}
.menu {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--text-color-main);
}    
.menu-chosen {
    color:var(--style-color);
}
.contacts {
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--text-color-second);
}
.street {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: var(--bg-color);
}
.footer-contacts {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.footer {
background: var(--head-foot-background);
}
.slider-chosen {
width: 73px;
height: 38px;
left: 495px;
top: 174px;
background: var(--style-color);
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;   
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.03em;
color: var(--bg-color);
}
.slider-other {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
border: none;
/* identical to box height, or 162% */

letter-spacing: 0.03em;

color: var(--text-color-main);
}
.card-title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--text-color-main);
}
.card-legend {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

letter-spacing: 0.03em;
color: var(--text-color-second);
}
ul {
    list-style-type: none;
}
.service-title {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--bg-color);
background: #2F303A;
}
.order-service {
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

letter-spacing: 0.06em;

color: var(--bg-color);
width: 200px;
height: 50px;
left: 700px;
top: 430px;

background: var(--style-color);;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.advantages {
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--text-color-main);
}
.advatages-description {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: var(--text-color-second);

}
.block-title {
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;

color: var(--text-color-main);

}
.worker-name {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
letter-spacing: 0.03em;

color: var(--text-color-main);
}
.worker-job {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
letter-spacing: 0.03em;

color: var(--text-color-second);
}